{% extends 'bese.html' %}
{% block content %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-8 ">
                <form class="form-inline">
                    <div class="form-group mx-sm-2 mb-2">
                        <input type="text" class="form-control" placeholder="Search...">

                    </div>

                </form>
            </div>


            <div class="col-4 text-right">
                {% if user.is_authenticated %}
                {% if perms.data.change_game %}
                {% else %}
                <a type="button" class="btn btn-outline-warning col-5 ml-5" href="{% url 'mygame' %}" role="button">My
                    Game</a>
                {% endif %}
                {% endif %}
            </div>
        </div>




        <!-- ตรงกลางอันเดียว -->
        <div class="row bg-warning">
            <img src="{% static '/img/wall.png' %}" width="1150" height="400" class="d-inline-block align-top" alt="">
        </div><br>
        <!-- หมดตรงกลางอันเดียว -->
        <!--  3 of 3 -->


        <div class="container">
            <div class="row text">

                <div class="col ">
                    <img class="card shadow p-2 mb-3 ml-4 bg-white rounded " style="width: 10rem; height: 14rem;"
                        src="{{image.image_url.url}}" alt="">
                </div>

                <div class="col-6 ">
                    <div class="p-2 mb-3 my-5">
                    </div>
                    <div class="p-2 mb-3 my-3">
                    </div>
                    <div class=" mb-2 my- mr-5">
                        <h4>{{game.name}}</h4>
                        <hr>
                    </div>
                </div>
                <div class="col ">
                    <div class="p-2 mb-3 my-5">
                    </div>
                    <blockquote class=" text-right">
                        <p class="mb-2">{{game.price}} BAHT</p>
                    </blockquote>
                    {% if user.is_authenticated %}
                    {% if perms.data.change_game %}
                    <blockquote class="blockquote text-right">
                        <a type="button" class="btn btn btn-primary col-5 ml-3" href="{% url 'edit_game' game.id %}"
                            role="button">Edit/Delete </a>
                            <a type="button" class="btn btn btn-primary col-5 ml-3" href="{% url 'edit_image' game.id %}"
                            role="button">Edit Image</a>


                    </blockquote>
                    {% else %}
                    <blockquote class="blockquote text-right">
                        <a type="button" class="btn btn-outline-success col-5 ml-3" href="{% url 'payment' game.id %}"
                            role="button">BUY NOW</a>
                    </blockquote>
                    {% endif %}
                    {% endif %}
                </div>
            </div><br>
            <!-- end 3 of 3 -->

            <div class="row ">
                <div class="col ">
                    <div class="float-left">
                        <h4>About this game</h4>
                    </div><br>

                </div>
                <div class="col r">
                    <small class="" style="color: #afafaf">Developer</small>
                    <p>{{game.developer}}</p><br>
                    <small class="" style="color: #afafaf">Tags</small>
                    <p>{{game.game_type_id.type_name}}</p><br>
                </div>
                <div class="col ">
                    <small class="" style="color: #afafaf">Rating</small>
                    <p>{{game.rating}}</p><br>

                </div>
                <div class="col ">
                    <small class="" style="color: #afafaf">Release Date</small>
                    <p>{{game.release_date}}</p>
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="">{{game.description}}
                </div>
            </div><br><br><br>



</body>

</html>

{% endblock content %}