{% extends 'bese.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


 <div class="container">
        <!-- from -->
        <br>
        <center>
            <h3>Edit Profile</h3>
        </center>
        <div class="row justify-content-center">

            <div class="col-7">
                <form action="{% url 'edit' %}" method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        
                    </div>
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="username" class="form-control" id="inputusername" value="{{user.username}}"
                            name="username" >
                    </div>
                    <div class="form-group">
                        <label for="">Firstname</label>
                        <input type="fname" class="form-control" id="inputfristname" value="{{user.first_name}}"
                            name="first_name" >
                    </div>
                    <div class="form-group">
                        <label for="">Lastname</label>
                        <input type="lname" class="form-control" id="inputLastname" value="{{user.last_name}}"
                            name="last_name" >
                    </div>
                    <div class="form-group">
                        <label for="i">Email</label>
                        <input type="email" class="form-control" id="inputEmail" value="{{user.email}}" name="email" >
                        
                    </div>
                
                    
                    

                    <!-- ส่งค่าที่สมัคร  post-->
                    <input class="btn btn-outline-warning" type="submit" value="Edit profile">
                    
                    <!-- โยนเข้าเว็บเป็น  get -->
                    <a type="button" class="btn btn-outline-danger" href="{% url 'profile' %}" role="button">Cancel</a>
                    
                </form>
            </div>
        </div>
        <!-- endfrom -->
    </div>








</body>

</html>




{% endblock content %}