{% extends 'bese.html' %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <!-- from -->
        <br>
        <center>
            <h3>Change Password</h3>
        </center>
        <div class="row justify-content-center">

            <div class="col-7">
                <form action="{% url 'password' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">New password</label>
                        <input type="password" class="form-control" id="inputpassword" value="" name="password1">
                    </div>
                    <div class="form-group">
                        <label for="">Again password </label>
                        <input type="password" class="form-control" id="inputpassword" value="" name="password2">
                        {% if error %}
                        <small class="" style="color: red">{{ error }}</small>
                        {% endif %}
                    </div>



                    <!-- ส่งค่าที่สมัคร  post-->

                    <button type="submit" class="btn btn-outline-warning"  role="button">Change
                        password</button>
                    <a type="button" class="btn btn-outline-danger" href="{% url 'profile' %}" role="button">Cancel
                    </a>
                    <!-- โยนเข้าเว็บเป็น  get -->


                </form>
            </div>
        </div>
        <!-- endfrom -->
    </div>

</body>

</html>
{% endblock content %}